<ion-view view-title="Chat With {{displayName}}">
  <header class="clearfix">
    <h4>{{displayName}}</h4>
  </header>
  <!--<ion-content id="live-chat">-->
    <div id="live-chat">
      <div scroll-glue class="chat-history">
        <div class="chat-message clearfix"  ng-repeat="chat in chatStream" ng-click="goToUser(chat)">
          <img class="profilePic" src={{chat.photoURL}} alt="" width="32" height="32">
          <div class="chat-message-content clearfix">
            <span class="chat-time">{{chat.time}}</span>
            <h5>{{chat.displayName}}</h5>
            <p class="message">{{chat.message}}</p>
          </div> <!-- end chat-message-content -->
          <hr>
        </div> <!-- end chat-message -->
      </div> <!-- end chat-history -->
      <!--<p class="chat-feedback">Your partner is typing…</p>-->
      <form ng-submit="onSend()">
        <fieldset>
          <input class="chatBox" id="chatBox" type="text" placeholder="Type your message…" autofocus>
          <button class="button button-positive" type="submit">
            Send
          </button>
        </fieldset>
      </form>
    </div> <!-- end chat -->
  <!--</ion-content> &lt;!&ndash; end live-chat &ndash;&gt;-->
</ion-view>
