<ion-view view-title="Home">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ng-controller="HomeCtrl">
        <img src={{user.photoURL}} style="width:40px;height:40px">
        <h2>
          <textarea name="postMessage" style="width:100%" placeholder="Want to post?"></textarea>
        </h2>

          <button class="button button-block button-positive col col-25 post" ng-click="doPost()">Post!</button>

      </ion-item>
      <ion-item class="padding" ng-controller="ImageCtrl">
        <ion-item class="item-icon-left">
          <i class="icon ion-plus-circled" ng-click="addImage()"></i>
          Add a photo
        </ion-item>
        <br><br>
        <ion-scroll>
          <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
            <div class="col col-25" ng-if="$index < images.length">
              <img ng-src="data:image/jpeg;base64,{{images[$index].image}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 1 < images.length">
              <img ng-src="data:image/jpeg;base64,{{images[$index + 1].image}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 2 < images.length">
              <img ng-src="data:image/jpeg;base64,{{images[$index + 2].image}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 3 < images.length">
              <img ng-src="data:image/jpeg;base64,{{images[$index + 3].image}}" width="100%" />
            </div>
          </div>
        </ion-scroll>
      </ion-item>
      <br>
      <!--<ion-item class="item-avatar" href="#">-->
      <!--<img src={{user.photoURL}}>-->
      <!--<h2>{{user.displayName}}</h2>-->
      <!--<p></p>-->
      <!--</ion-item>-->
      <!--<ion-item class="item-body" href="#">-->
      <!--<img class="full-image" src="{{user.photoURL}}">-->
      <!--<p>-->
      <!--{{postData.message}}-->
      <!--</p>-->
      <!--<p>-->
      <!--<a href="#" class="subdued">4 Buyers</a>-->
      <!--<a href="#" class="subdued">SOLD</a>-->
      <!--</p>-->
      <!--</ion-item>-->

      <!--<ion-item ng-repeat="playlist in playlists" href="#/app/home/{{playlist.id}}">-->
      <!--{{playlist.title}}-->
      <!--</ion-item>-->
    </ion-list>
  </ion-content>
</ion-view>
