<ion-view view-title="Home">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" id="postHeader" ng-controller="HomeCtrl">
        <img src="data:image/jpeg;base64,{{user.photoURL}}" style="width:40px;height:40px">
        <h2>
          <textarea id="postMessage" style="width:100%;display:inline" placeholder="Want to post?"></textarea>
          <button class="button button-positive post" ng-click="doPost()">Post!</button>
        </h2>
      </ion-item>
      <ion-item class="padding" ng-controller="ImageCtrl">
        <ion-item class="item-icon-left">
          <i class="icon ion-plus-circled" ng-click="addImage()"></i>
          Add a photo
        </ion-item>
        <br>
        <ion-scroll>
          <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
            <div class="col col-25" ng-if="$index < images.length">
              <img ng-src="data:image/jpeg;base64,{{images[$index]}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 1 < images.length">
              <img ng-src="data:image/jpeg;base64,{{images[$index + 1]}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 2 < images.length">
              <img ng-src="data:image/jpeg;base64,{{images[$index + 2]}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 3 < images.length">
              <img ng-src="data:image/jpeg;base64,{{images[$index + 3]}}" width="100%" />
            </div>
          </div>
        </ion-scroll>
      </ion-item>
      <br>
      <div class="loader" id="loaderHome"></div>
      <div ng-repeat="post in postsList | orderBy:'-' | limitTo: limit">
        <br>
        <ion-item class="item-avatar" ng-controller="HomeCtrl" ng-click="goToUser(post)">
          <img src="data:image/jpeg;base64,{{post.photoURL}}" />
          <h2>{{post.displayName}}</h2>
          <p>{{post.time}}</p>
        </ion-item>
        <ion-item class="item-body">
          <p style="color:black;">
            {{post.message}}
          </p>
          <div ng-repeat="image in parseJSON(post.images)">
            <img class="full-image" ng-src="data:image/jpeg;base64,{{image}}" width="100%" />
          </div>
        </ion-item>
        <br>
      </div>
      <button id="loadMoreHome" class="button button-block button-positive load-more" ng-click="loadMore()">Load More...</button>
    </ion-list>
  </ion-content>
</ion-view>
