<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-content>
      <ion-list>
        <ion-item class="text-center" menu-close href="#/app/myProfile">
          <img src="data:image/jpeg;base64,{{user.photoURL}}" class="profilePic">
          <h1>{{user.displayName}}</h1>

        </ion-item>

        <ion-item menu-close href="#/app/home">
          <i class="icon ion-home placeholder-icon"></i>
          Home
        </ion-item>

        <ion-item menu-close href="#/app/chats">
          <i class="icon ion-chatbubbles placeholder-icon"></i>
          Chats
        </ion-item>

        <ion-item menu-close href="#/app/posts">
          <i class="icon ion-android-document placeholder-icon"></i>
          Posts
        </ion-item>

        <ion-item menu-close href="#/app/settings">
          <i class="icon ion-android-settings placeholder-icon"></i>
          Settings
        </ion-item>

        <ion-item menu-close ng-click="logout()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

