<ion-view view-title="{{user.displayName}}'s Profile" ng-controller="MyProfileCtrl">
  <ion-content>



    <div align="center" ng-controller="MyProfileCtrl">
      <img src={{user.photoURL}}>
    </div>
    <ion-item class="padding" ng-controller="ImageCtrl">
      <div align="center">
        <button style="float: none; width: 30%;" class="button button-royal button-small" ng-click="addImage()">
          Change Photo
        </button>
      </div>
    </ion-item>


    <div class="bottom">
      <div style="float: left; width: 100%;">
        <label class="item item-input">
          <input type="text" name="name" id="myName-textarea"
                 ng-model="$parent.name" placeholder="My Username">
        </label>
      </div>
    </div>
    <div class="bottom">
      <div style="float: left; width: 100%;">
        <p1>Average Rating: {{ratingAve | number:1}}/5</p1>
      </div>
    </div>
    <div class="bottom">
      <div align="center">
        <button style="float: none; width: 30%;" class="button button-royal button-small" ng-click="onSaveChanges()">
          Save Changes
        </button>
      </div>
    </div>
    <div ng-repeat="review in myReviewsList | orderBy:'-'">
      <br>
      <ion-item class="item-avatar" ng-controller="MyProfileCtrl" ng-click="goToUser(review)">
        <img src={{review.photoURL}} />
        <h2>{{review.displayName}}</h2>
        <h2>Rating: {{review.rating}}/5</h2>
        <p>{{review.time}}</p>
      </ion-item>
      <ion-item class="item-body">
        <p style="color:black;">
          {{review.message}}
        </p>
      </ion-item>
      <br>
    </div>
  </ion-content>
</ion-view>
