<ion-view view-title="{{user.displayName}}'s Profile">
  <ion-content>

    <div align="center">
      <img src={{user.photoURL}}>
    </div>

    <div class="bottom">
      <div style="float: left; width: 100%;">
        <label class="item item-input">
          <input type="text" name="name" id="myName-textarea"
                 ng-model="$parent.name" placeholder="My Username">
        </label>
      </div>
    </div>
    <div class="bottom">
      <div style="float: left; width: 100%;">
        <label class="item item-input">
          <input type="text" name="bio" id="myBio-textarea"
                 ng-model="$parent.bio" placeholder="My Bio">
        </label>
      </div>
    </div>
    <div class="bottom">
      <div style="float: left; width: 100%;">
        <p1>Rating: {{ratingAve}}/5</p1>
      </div>
    </div>
    <div class="bottom">
      <div align="center">
        <button style="float: none; width: 30%;" class="button button-royal button-large" ng-click="onSaveChanges()">
          Save Changes
        </button>
      </div>
    </div>
    <ul>
      <li class="button button-full" ng-repeat="selectedReview in myReviews">
        Name: {{selectedReview.name}} <br>Rating: {{selectedReview.rating}} <br>Content: {{selectedReview.content}}</li>
    </ul>
  </ion-content>
</ion-view>
