<ion-view view-title="Posts">
  <ion-content>
    <ion-list>
      <div ng-repeat="post in postsList | orderBy:'-'" ng-click="onSelectPost(post)">
        <br>
        <ion-item class="item-avatar">
          <img src="data:image/jpeg;base64,{{post.photoURL}}" />
          <h2>{{post.displayName}}</h2>
          <p>{{post.time}}</p>
        </ion-item>
        <ion-item class="item-body">
          <p style="color:black;">
            {{post.message}}
          </p>
          <div ng-repeat="image in parseJSON(post.images)">
            <img class="full-image" ng-src="data:image/jpeg;base64,{{image}}" width="100%" />
          </div>
        </ion-item>
        <br>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
