<ion-view view-title="Settings" ng-controller="SettingsCtrl">
  <!-- <ion-content>
    <form ng-submit="doUpdatePassword()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="password">
        </label>
        <label class="item item-input">
          <span class="input-label">New Password</span>
          <input type="password" ng-model="newPassword">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm New Password</span>
          <input type="password" ng-model="newPasswordConfirm">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit!</button>
        </label>
      </div>
    </form>
  </ion-content> -->
</ion-view>
