<ion-view view-title="{{displayName}}'s Profile" ng-controller="UserProfileCtrl">
  <ion-content>

    <div align="center">
      <img src={{user.photoURL}}>
    </div>

    <div class="bottom">
      <div style="float: left; width: 100%;">
        <p1>Average Rating: {{ratingAve | number:1}}/5</p1>
      </div>
    </div>
    <br>
    <div class="bottom">
      <div align="center">
        <button style="float: none; width: 30%;" class="button button-royal button-large" ng-click="onMessage()">
          Message
        </button>
      </div>
    </div>
    <br>
    <ion-item class="item-avatar" id="reviewHeader" ng-controller="UserProfileCtrl">
      <h2>
        <textarea id="reviewMessage" style="width:100%" placeholder="Want to leave a review?"></textarea>
        <input type="radio" name="ratingList" ng-model='rating' id="one" value='1'>
        <label for="one">1</label>

        <input type="radio" name="ratingList" ng-model='rating' id="two" value='2'>
        <label for="two">2</label>

        <input type="radio" name="ratingList" ng-model='rating' id="three" value='3'>
        <label for="three">3</label>

        <input type="radio" name="ratingList" ng-model='rating' id="four" value='4'>
        <label for="four">4</label>

        <input type="radio" name="ratingList" ng-model='rating' id="five" value='5'>
        <label for="five">5</label>
      </h2>
      <button class="button button-block button-positive col col-25 post" ng-click="doReview()">Submit</button>
    </ion-item>
    <div ng-repeat="review in userReviewsList | orderBy:'-'">
      <br>
      <ion-item class="item-avatar" ng-controller="UserProfileCtrl" ng-click="goToUser(review)">
        <img src={{review.photoURL}} />
        <h2>{{review.displayName}}</h2>
        <h2>Rating: {{review.rating}}/5</h2>
        <p>{{review.time}}</p>
      </ion-item>
      <ion-item class="item-body">
        <p style="color:black;">
          {{review.message}}
        </p>
      </ion-item>
      <br>
    </div>
  </ion-content>
</ion-view>
