# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.idea/
www/lib/cordova/
www/lib/ngCordova/
.directory
.io-config.json
www/lib/angularfire/.directory
.idea/workspace.xml
/.idea/misc.xml
/.idea/Bookie.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml
