textarea {
  width:220px;
  resize:none;
  overflow:hidden;
  font-size:18px;
  height:1.1em;
  padding:2px;
}
i {
  cursor:pointer;
}
button.post {
  float:right;
  display:block;
  margin-right:0px;
  clear:left;
}
